<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>The Board</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top:80px;
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">

                <h3><span class="fa fa-user"></span> Hi there <%= user.username %> </h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>password</strong>: <%= user.auth.password %><br>
                    <strong>data</strong>: <%= user.stats %>
                    <strong>activities</strong>: <%= user.activities.length %>
                </p>

            </div>
        </div>

    </div>

    <div class="row">
        <div class"col-sm-6">
            <div class="well">

                <form action="activity" method="post">
                    <div class="form-group">
                        <label>Activity name</label>
                        <input type="text" class="form-control" name="activityName">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Create activity</button>
                </form>

            </div>
        </div>
    </div>

</div>
</body>
</html>